version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: rule-engine-postgres
    environment:
      POSTGRES_DB: engine
      POSTGRES_USER: engine
      POSTGRES_PASSWORD: engine
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    depends_on:
      - app
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

  app:
    build: .
    container_name: rule-engine-app
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/engine
      SPRING_DATASOURCE_USERNAME: engine
      SPRING_DATASOURCE_PASSWORD: engine
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate
      SPRING_FLYWAY_ENABLED: "true"
    restart: unless-stopped

volumes:
  pg_data:
